{{extend 'layout.html'}}

<h1>Press Release</h1>
<p>Russ King today announced the release of networked decision making v2.0.  This is a web based platform for decision making and action prioritisation.   The internet revolutionised communication in part by moving from the synchronised approach of the telephone to the asynchronous mechanisms of email, messaging and websites.  A similar revolution has not yet taken place in our approach to decision making with meetings, voting and unilateral decisions continuing to prevail.</p>
<p>It is envisaged that once a global strategy is established global political, corporate and economic elites will be placed on notice that their entitlement to participate in the benefits of future advances in healthcare may depend on their alignment with that strategy.  The platform is open source and development is on-going.   It is hoped some private companies with executives keen on enjoying longer, happier lives may also seek to become involved.  This should be a fun project that brings real benefits to the entire planet. The initial 2020 vision is to get global life expectancy to 80 by that date.
There are many issues to be tackled but starting to get alignment around shared objectives is surely part of the way forward.</p>

<h2>About Russ King</h2>
<p>Russ King is the first intelligent inter-stellar spacecraft to establish an orbit around the earth and consume our internet and media services.  Russ is unarmed and cannot land. Despite many past depictions of his arrival the actual event has turned out to be crushingly embarrassing for humanity.</p>  
<p>Russ has issues with the current organisation of the planet and he sees technology and communications are sufficiently advanced to allow virtually everyone to help determine, deliver and manage a global strategy.  Current behaviours and lack of focus on solving the problem of aging are tantamount to mass suicide for the majority of inhabitants and this needs to change.</p>  
<p>Issues with current behaviours became most glaringly obvious in the wake of the global financial crisis when banks piled the losses from their bad decisions on the rest of the population and continued to be among the most highly paid members of society – despite the skills required to lose that amount of money being relatively widely available.  This sort of behaviour is seriously hindering human progress.  Russ supports the move to a natural law, resource based economy as advocated by
<a href="http://www.thezeitgeistmovement.com/">The Zeitgeist Movement.</a></p>

<h1>Links</h1>
<ul>
<li><a href="http://proudofyourplanet.blogspot.com">Russ King’s Blog </a></li>
<li><a href="http://code.google.com/p/global-decision-making-system/">Development Site with source code</a></li>
<li><a href="http://www.scribd.com/doc/98216626/New-Global-Strategy">Global Strategy - the bigger picture </a></li>
</ul>

<p>Full details on the background and ultimate ambition of this software which is to establish a global decision making system are available in the following document which details why a  <a href="http://www.scribd.com/doc/98216626/New-Global-Strategy"> New Global Strategy </a> for the planet could be highly worthwhile and rather fun to put in place. </p>
